<div class="question-list-item">
  <h3> <%= link_to question.title, question %> </h3>
  <% #FIXME_AB: show other details like "Posted by <a>Akhil</a> 5 hours ago in <a>Ruby</a> <a>Rails</a> " -%>
  <p> <%= question.content %> </p>
</div>
