.question-list {
  display: flex;
  flex-direction: column;

  &-item {
    padding: 20px;
    border-bottom: 1px solid #eee;
  }
}

.publisability-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.question-topics-list {
  padding: 0px;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;

  &-item {
    margin: 0px 10px 5px 0px;
    padding: 10px;
    background-color: #eee;
    border-radius: 6px;
  }
}

.question-show-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.question-details {
  max-width: 80%;
}

.question-stats {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.5rem;

  p {
    font-size: 1.75rem;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}
